<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= @page_title ? @page_title + " | " : "" %><%= APP_CONFIG[:site_name] %></title>
  <meta charset="utf-8" /> 
  <meta name="author" content="John Hutchinson" />
  <meta name="description" content="" />
  <meta name="DC.creator" content="John Hutchinson - http://www.johnhutch.com" />
  <meta name="DC.subject" content="Standards-based web design" />
  <meta name="viewport" content="width=960" />
  <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
		
	<link href="/stylesheets/blueprint/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="/stylesheets/blueprint/print.css" media="print" rel="stylesheet" type="text/css" />
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/blueprint/ie.css" />
	<![endif]-->
	<link rel="stylesheet" href="/stylesheets/theme.css" type="text/css" />
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.jqEasyCharCounter.min.js"></script>
	
	<link href='http://fonts.googleapis.com/css?family=Allerta+Stencil&subset=latin' rel='stylesheet' type='text/css'>

</head>
<body class="<%= @controller.controller_name %>-<%= @controller.action_name %>">
	<header class="clearfix">
		<div class="container">
			<h1 id="logo"><a href="/">Secret Santa</a></h1>
		</div>
	</header>
		
	<nav class="clearfix">
		<ul class="container">
				<li><%= link_to 'The Participants', users_path %></li>
			<% if logged_in? %>
				<li class="user profile"><%= link_to 'My Profile', user_path(current_user) %></li>
				<li class="user"><%= link_to 'Logout', logout_path %></li>
			<% else %>
				<li class="user"><%= link_to 'Login', login_path %></li>
				<li class="user"><%= link_to 'Signup', signup_path %></li>
			<% end %>
		</ul>
	</nav>
	
	<%= flash_messages %>
	
	<section id="content">
		<div class="container">
			<%= yield :layout %>
		</div>
	</section>
</body>
</html>